.calculatorContainer {
  width: 400px;
  height: 830px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: end;
  gap: 10px;
  padding: 0 0 10px 0;
  background-color: #000;
}
