.calculatorNumber {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 400;
  background-color: #333;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.orange {
  background-color: orange;
}

.light {
  background-color: #5c5c5d;
}

.scientific {
  width: 80px;
  height: 48px;
  border-radius: 2rem;
}
